default_mode "locked"
default_layout "main"
pane_frames true
simplified_ui true
show_startup_tips false
show_release_notes false

ui {
    pane_frames {
        hide_session_name true
    }
}

theme "ansi"

keybinds clear-defaults=true {
    locked {
        bind "Ctrl b" {SwitchToMode "Tmux";}
    }
    tmux {
        bind "Ctrl b" {Write 2; SwitchToMode "Locked";}

        // split
        bind "%" { NewPane "Right"; SwitchToMode "Locked";}
        bind "\"" { NewPane "Down"; SwitchToMode "Locked";}

        //tab
        bind "c" {NewTab; SwitchToMode "Locked";}
        bind "n" {GoToNextTab; SwitchToMode "Locked";}
        bind "p" {GoToPreviousTab; SwitchToMode "Locked";}

        //pane
        bind "Left" "h" {MoveFocus "Left"; SwitchToMode "Locked";}
        bind "Left" "j" {MoveFocus "Down"; SwitchToMode "Locked";}
        bind "Left" "k" {MoveFocus "Up"; SwitchToMode "Locked";}
        bind "Left" "l" {MoveFocus "Right"; SwitchToMode "Locked";}

        // resize
        bind "r" {SwitchToMode "Resize";}

        // cancel
        bind "Esc" {SwitchToMode "Locked";}
    }
    resize {
        bind "h" {Resize "Increase Left";}
        bind "j" {Resize "Increase Down";}
        bind "k" {Resize "Increase Up";}
        bind "l" {Resize "Increase Right";}
        bind "Esc" {SwitchToMode "Locked";}
    }
}
